*,
*::before,
*::after{
    box-sizing: border-box;
}

html,body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}

header{ 
    display: flex;
    justify-content: space-between;
}

header img{
    height: 50pt;
}

nav ul{
    display: flex;
}


ul li{
    list-style: none;
}

li a{
    text-decoration: none;
}

main .first-part{
    background-color: rgb(240, 234, 234);
    /* background-image: url(assets/bgimage.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    padding: 0;
}

.first-part{
    text-align: center;
}

.first-part p span{
    color: rgb(78, 180, 78);
    font-size: 3rem;
}

.first-part p{
    color: grey;
    font-size: 4rem;
    padding-bottom: 0;
    letter-spacing: -4px;
    line-height: 0.8;
}

.first-part p a{
    background-color: rgb(204, 48, 48);
    margin: 0, 10%, 0, 10%;
    /* margin-left: 15%; 
    margin-right: 15%;*/
    padding: 1rem;
    line-height: 0.5;
    font-size: 1rem;
    letter-spacing: 0;
    text-decoration: none;
    color: white;
}

.first-part .img1{
    height: 60pt;
    margin-left: 75%;
}

.first-part .img2{
    height: 10%;
    transform: rotate(-50deg)
}

.second-part{
    display: flex;
    justify-content: space-between;
    padding: 2px 16px;
}

.prod1 img, .prod2 img, .prod3 img{
    height: 16rem;
}

.prod1, .prod2, .prod3{
    border: 1px solid none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
}
